<div>
  <form ng-submit="editUser(userEdit)">
    <input type="text" ng-model="userEdit.email" placeholder="edit email">
    <input type="text" ng-model="userEdit.username" placeholder="edit username">
    <input type="text" ng-model="userEdit.location" placeholder="edit location">
    <input type="text" ng-model="userEdit.bio" placeholder="edit bio">
    <input type="text" ng-model="userEdit.skill" placeholder="edit skill level">
    <input type="text" ng-model="userEdit.genres" placeholder="edit genres">
    <button type="submit">Edit User</button>
  </form>
</div>