<div class="container">
  <div class="well well-sm col col-sm-3">
    <h3>Group Name</h3> {{group.nickname}}
  </div>
  <div class="well well-sm col col-sm-3">
    <h3>Group Id:</h3> {{group._id}}
  </div>
  <div class="well well-sm col col-sm-3">
    <h3>Public:</h3>{{group.public}}
  </div>
  <div class="well well-sm col col-sm-3">
    <h3>Location:</h3>
    <div>
      Group name: {{group.nickname}}
    </div>
    <div>
      City: {{group.location.city}}
    </div>
    <div>
      Coords: {{group.location.lat}} || {{group.location.lng}}
    </div>
    <div>
      Zipcode: {{group.location.zipcode}}
    </div>
  </div>
  <div class="well well-sm col col-sm-3">
    <div>
      Admin: {{group.admin}}
    </div>
  </div>
  <div class="well well-sm col col-sm-3">
    Needs:
    <span ng-click="deleteTag(need, 'needs')" ng-repeat="need in group.needs">{{need}}&nbsp</span>
  </div>
  <div class="well well-sm col col-sm-3">
    Genres:
    <span ng-click="deleteTag(genre, 'genre')" ng-repeat="genre in group.genre">{{genre}}&nbsp</span>
  </div>
  <div>
    pending users:
    <div ng-repeat="pendingUser in group.pendingUsers">
      <div ng-click="approveUser(pendingUser)">{{pendingUser}}</div>
    </div>
  </div>
  <div>
    Users:
    <div class="well well-sm col col-md-12 col-sm-12" ng-repeat="user in group.users">
      <div class="well well-sm col  col-md-12 col-sm-12">
        <div>
          {{user._id}}
        </div>
        <div>
          {{user.username}}
        </div>
        <div>
          {{user.email}}
        </div>
        <div>
          {{user.location}}
        </div>
        <div>
          {{user.bio}}
        </div>
        <div>
          {{user.skill}}
        </div>
        <div>
          {{user.genres}}
        </div>
      </div>
    </div>
    <div class="well well-sm col col-sm-6">
      <button>Edit Group</button>
      <form ng-submit="editGroup(editedGroup)">
        <div>
          <select name="" id="" ng-model="editedGroup.public">
            <option value="public">Public</option>
            <option value="private">Private</option>
          </select>
          <input ng-model="editedGroup.nickname" type="text" placeholder="nickname">
          <input ng-model="editedGroup.genre" type="text" placeholder="genre">
          <input ng-model="editedGroup.location" type="text" placeholder="location">
          <input ng-model="editedGroup.needs" type="text" placeholder="needs">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>