<div class="container">
  <form ng-submit="registerUser(newUser)">
    <input type="text" ng-model="newUser.email" placeholder="enter email">
    <input type="text" ng-model="newUser.username" placeholder="enter username">
    <input type="text" ng-model="newUser.location" placeholder="enter zipcode">
    <input type="text" ng-model="newUser.bio" placeholder="enter short bio">
    <input type="text" ng-model="newUser.skill" placeholder="skill level 1 to 10">
    <input type="text" ng-model="newUser.genres" placeholder="enter favorite genre">
    <button type="submit" n>Register</button>
  </form>
</div>