<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <h3>Id:</h3> {{user._id}}</div>
    <div class="col-sm-4">
      <h3>Username:</h3> {{user.username}}
    </div>
    <div class="col-sm-4">
      <h3>Email:</h3> {{user.email}}</div>
    <div class="col-sm-4">
      <h3>Biography:</h3> {{user.bio}}</div>
    <div class="col-sm-4">
      <h3>Skill Level:</h3> {{user.skill}}</div>
    <div class="col-sm-4">
      <h3>Genres:</h3> {{user.genres}}</div>
    <div class="col-sm-4">
      <h3>Groups:</h3> {{user.groups}}</div>
  </div>

  <div>
    <a ui-sref="editUser({id: user._id})">Edit User Info</a>
  </div>

  <button ng-click="toggleGroupCreate()">Toggle Group Creation</button>

  <form ng-show="showGroupCreate" ng-submit="createGroup(newGroup)">
    <select name="" id="" ng-model="newGroup.public">
      <option value="true">Public</option>
      <option value="false">Private</option>
    </select>
    <br>
    <input type="text" ng-model="newGroup.location" placeholder="group location">
    <br>
    <!-- <input type="text" ng-model="newGroup.users" placeholder="group members">
    <br>-->
    <!--<input type="text" ng-model="newGroup.admin" placeholder="group admin">
    <br>-->
    <input type="text" ng-model="newGroup.genre" placeholder="music genre">
    <br>
    <input type="text" ng-model="newGroup.needs" placeholder="group needs">
    <br>
    <button type="submit">Create Group</button>
  </form>

  <h1>groups here:</h1>
  <div ng-repeat="group in groups">
    {{group._id}}
  </div>

</div>


<!--<br> username:{{user.username}}-->
<!--<br> email: {{user.email}}
<br> bio: {{user.bio}}
<br> skill: {{user.skill}}
<br> genres: {{user.genres}}
<br> groups: {{user.groups}}-->